*{
	margin: 0;
	padding: 0;
	outline: none;
}
body {
	background:#EAEAEA;
	font: 12px Arial, Tahoma, sans-serif;
}
a {
	text-decoration:none;
}
.b3radius{
border-radius: 3px;
}
#page_align {
	width:100%;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 2px 1px 3px #DDDDDD;
	overflow: hidden;
}
#header{
height: 195px;
/*border-bottom:solid 1px #F1F1F1;
box-shadow: 5px 8px 5px #DDDDDD;*/
margin-bottom: 2px;
background: #FFF;
}
#header_nav {
 background-color: #333;
height:35px;
border-bottom:solid 1px #F1F1F1;
box-shadow: 3px 4px 5px #DDDDDD;
}
#header_nav ul {
list-style: none;
}
#header_nav ul li{
	float: left;
}
#header_nav ul li:last-child{
border-right:none;
}
#header_nav ul li a {
	color: #f2f2f2;
	line-height: 35px;
	padding:0px 15px;
	display:block;
}
#header_nav ul li a:hover{
	 background-color: white;
    color: black;
}
#header_nav ul li a:active{
	 background-color: #98CA60;
    color: white;
}
input[name=topsearch] {
float:right;	
margin-right: 6px;
height: 22px;
margin-top: 5px;
border: none;
box-shadow:inset 0px 1px 3px rgba(0,0,0,.1); 
background:#F0F0F0;
padding: 0 5px;
width: 145px;
}

#logIN{
background:#ff6600;
}
#welcome{
	font: 15px Georgia;
	float: right;
	color:white;
	margin:9px 5px;
}

#emblem{
font: 35px 'Trebuchet MS',Arial;
color:#515151;
margin:40px 30px;
padding: 10px;	
}
.search {
	position: absolute;
    left:472px;
    top: 85px;
    max-width: 405px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('searchicon.png');
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#content{
	float: right;
	width: 800px;
}
.clr{
	clear:both;
}
/* The Modal (background) */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    margin: 4px 4px;
    border: none;
    cursor: pointer;
    float:right;
   
}
.submit{
	background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    margin: 4px 4px;
    border: none;
    cursor: pointer;
    float:right;
}
button:hover {
    opacity: 0.8;
}

#maker{
	background-color:  #f6f6ee;
	height:45px;
	border-bottom:solid 2px #F1F1F1;


}
.submit1{

	width:265px;
	background-color: #98CA60;
    font: 20px Garamond;
	color:white;
    padding: 11px 20px;
    border:none;
    cursor: pointer;
    border-left: solid 10px #F1F1F1;
   
}
.submit1:hover{
	 background-color: black;
    color: white;
}
.submit1:active{
	 background-color: white;
    color: black;
}
.submit2{
	position: absolute;
    right:50px;
    top: 113px;
    border-radius: 2px;
	background-color: #333;
    font: 25px Garamond;
	color:white;
    padding: 8px 25px;
    border:none;
    cursor: pointer;
    float:right;
    box-shadow: 8px 7px 5px #DDDDDD;
}
.submit2:hover{
	 background-color: #98CA60;
    color: white;
}
/*Slideshow*/

.mySlides {
	display:none
	width: 100%;

}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}